.header {
    height: 10vh;
}

.options-pallete {
    padding-left: 24px;
    height: 5vh;
}

.mainlist {
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 3vh;
    height: 82vh;
}

.listitem {
    cursor: pointer;
}