<div class="main">
    <div class="header">
        <nz-page-header class="site-page-header" (nzBack)="onBack()" nzBackIcon nzTitle="Requests"
            nzSubtitle="create tests" nzTheme="dark">
        </nz-page-header>
    </div>

    <div class="options-pallete">
        <button nz-button nzType="default" nzShape="circle" (click)="openNewRequestModal($event)"><i nz-icon
                nzType="file-add" nzTheme="outline" style="font-size: 15px;"></i></button>
        <button nz-button nzType="default" nzShape="circle"><i nz-icon nzType="delete" nzTheme="outline"
                style="font-size: 15px;"></i></button>
        <button nz-button nzType="default" nzShape="circle"><i nz-icon nzType="sync" nzTheme="outline"
                style="font-size: 15px;"></i></button>
    </div>

    <div class="mainlist">
        <nz-list nzBordered nzSize="small">
            <nz-list-item *ngFor="let item of request_list" (click)="openRequest($event, item)" class="listitem">
                {{item}}</nz-list-item>
        </nz-list>
    </div>
</div>


<nz-modal [(nzVisible)]="isVisible" nzTitle="Create New Request" (nzOnCancel)="handleCancel()">
    <div>
        <input type="text" nz-input placeholder="Request Name Here" #requestNameInput id="modalInput">
        <div>
            <iframe (load)="modalLoaded()" height="0" width="0"></iframe>
        </div>
    </div>
    <div *nzModalFooter>
        <button nz-button nzType="default" (click)="handleCancel()">Cancel</button>
        <button nz-button nzType="primary" (click)="handleOk()">OK</button>
    </div>
</nz-modal>