<div class="navigation">
  <ol nz-menu [nzMode]="mode ? 'vertical' : 'inline'" [nzTheme]="dark ? 'dark' : 'light'" class="navigation-menu">
    <li nz-menu-item value="0" nzSelected><div style="display: flex;"><i nz-icon nzType="folder" nzTheme="outline" style="font-size: 30px;"></i></div></li>
    <li nz-menu-item value="1"><div style="display: flex;"><i nz-icon nzType="setting" nzTheme="outline" style="font-size: 30px;"></i></div></li>
  </ol>
</div>